
html{
 margin: 0;
 padding: 0;
   height: 100vh; 
border: none;
    background-image: url(/src/small-wxicons3.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   
}
@media (max-width:1000px){
  html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/src/small-wxicons3.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
   background-repeat: no-repeat;
   
  }
  .box{
    margin-top: 0;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  
}
